html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  min-height: 100%;
}
.bg-info {
  background-color: #DB5461 !important;
}
header {
  background-color: #ec3a49;
  color: white;
  padding: 5rem 0;
}
h1 {
  color: white;
  font-weight: 900;
  text-align: center;
  font-size: 3rem;
}
.btn-info {
  background: #FFD9CE;
  color: #171738;
  border: none;
}
.btn-info:hover {
  background: #171738;
}
.btn-info:focus {
  background: #FFD9CE;
}
.btn-order {
  width: 100%;
}
.card-header {
  background-color: #DB5461;
  color: #fff;
}
.card-header > h3 {
  font-size: 20px;
  padding-top: 7px;
}
.close-button {
  cursor: pointer;
    position: absolute;
    right: 15px;
    font-size: 20px;
}
.makeStyles-paper-1 {
  border-radius: 10px;
  border: none !important;

}

.makeStyles-paper-1:focus {
  border-radius: 10px;
  border: none !important;
}

.img-fluid {
  max-width: 50%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255,0,0,0.8); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
background: #DB5461; 
}